* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: url('https://thumbs.dreamstime.com/b/incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg');
    background-size: cover;
}

.main {
    margin-top: 100px;
    height: 70vh;
    width: 26vw;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt3_i1ZddBCfF0ylj-FBUT5JRFkINMfyIg1A&s');
    background-size: cover;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
}

.fir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    gap: 10px;
    border-radius: 12px;
}

.fir11 label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.fir22 {
    display: flex;
}

.fir22 input {
    flex: 1 1 auto;
    min-width: 0;
    height: 25px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background-color: bisque;
    outline: none;
}

button {
    width: 100px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
    font-size: 21px;
    font-weight: 500;
    background-color: crimson;
    cursor: pointer;
}

button:hover {
    scale: 1.12;
}

.fir1 {
    margin-top: 60px;

}

.fir2 {
    margin-top: 76px;
}

.ph1 {
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 500;
}

.ph2 {
    font-size: 20px;
    font-weight: 400;
}